.navbarContainer {
  height: 15rem;
  max-width: 130rem;
  margin: 0 auto;
  background-color: #008069;
  padding: 3.2rem;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  z-index: 44;

  /* top: 0;
  left: 15rem; */
}

.brandContainer {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  cursor: pointer;
}
.brandHeading {
  font-size: 2.4rem;
  color: rgb(255, 255, 255);
}
.navUl {
  display: flex;
  gap: 1rem;
}
.navUl li {
  list-style-type: none;
  padding-right: 2.4rem;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
  transition: all 300ms;
}
.navUl li:hover {
  color: aquamarine;
}
