.container {
  flex: 2;
  border-right: 1px solid rgba(128, 128, 128, 0.37);
}
.heading {
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid rgba(128, 128, 128, 0.37);
}
.imgBox {
  clip-path: circle();
  width: 5rem;
  padding: 0;
  cursor: pointer;
}

.iconsBox {
  display: flex;
  gap: 20px;
}
.icon {
  font-size: 2.4rem;
  color: #008569;
  cursor: pointer;
}
