.container {
  margin-bottom: 9.2rem;
}
.chatDetails h3 {
  font-size: 1.6rem;
}
.chatDetails {
  display: flex;
  margin: 2.4rem 1.2rem;
  justify-content: space-between;
}
.icon {
  font-size: 1.6rem;
  align-items: flex-end;
  cursor: pointer;
}

.searchbarContainer{
  display: flex;
  align-items: center;
  position: relative;

}
.searchbarContainer input {
width: 550px
}