*,
*::after,
*::backdrop {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  max-width: 100%;

  background-color: #0a1014;
}
body {
  font-family: Helvetica, Lucida Grande, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}
