.heading {
  padding: 1.2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.37);
}
.imgBox img {
  clip-path: circle();
  width: 6.4rem;
  padding: 0;
  cursor: pointer;
}
.icon {
  font-size: 2.4rem;
  color: #008569;
  cursor: pointer;
}
.iconsBox {
  display: flex;
  gap: 20px;
  padding-right: 2.4rem;
}
.userInfo {
  color: rgb(84, 84, 84);
  font-size: 1.2rem;
  margin-left: 2.4rem;
}
.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.userId {
  font-size: 0.8rem;
}
.request {
  position: relative;
}
.badge {
  position: absolute;
  background-color: red;
  font-size: 1.2rem;
  border-radius: 100%;
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  color: white;
  top: -4px;
  right: -8px;
}
